* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030; 
}

header {
    width: 1440px;
    height: 70px;
    background: #2965f1;
    padding: 23px 0;

}

header span {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.main-section {
    width: 1440px;
    height: 1024px;
    background: #fafaff;
    padding: 60px 0;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background: #fafaff;
    padding: 100px 0;
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    appearance: none;
    background-image: url(./assets/images/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 12px 10px 12px;

}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image: url(./assets/images/solar_map-arrow-up-bold.png);
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
}

.label {
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    padding: 10px 215px 10px 12px;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    border-radius: 5px;
    border: none;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-bottom: 60px;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
}

table {
    border-collapse: collapse;
    border: 1px solid #95a1bb;
    margin-top: 60px;
}

th, td {
    padding: 12px 15px;
}

footer {
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0 26px 0;
}

.footer-link {
    text-decoration: none;

}